<section class="footer-area padding-top-90px padding-bottom-30px section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 responsive-column">
                <div class="footer-item">
                    <div class="logo">
                        <a href="index.html" class="foot-logo"><img src="images/logo2.png" alt="logo"></a>
                        <p class="footer__desc line-height-30 mt-3">
                            90 Trần Phú, Mộ Lao, Hà Đông, Hà Nội. <br>
                            +84 035-345-0695 <br>
                            halo90@email.com
                        </p>
                        <h4 class="footer__title mt-4">Kết nối với chúng tôi
                        </h4>
                        <ul class="social-profile">
                            <li>
                                <a href="#">
                                    <i class="la la-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="la la-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="la la-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="la la-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="la la-behance"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 responsive-column">
                <div class="footer-item">
                    <h4 class="footer__title">Tổng quan</h4>
                    <ul class="list-items">
                        <li><a href="about.html">Giới thiệu</a></li>
                        <li><a href="#">Dịch vụ</a></li>
                        <li><a href="blog-grid.html">Phát triển</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Lãnh Đạo</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 responsive-column">
                <div class="footer-item">
                    <h4 class="footer__title">Ứng viên</h4>
                    <ul class="list-items">
                        <li><a href="#">Tạo CV</a></li>
                        <li><a href="#">Tìm kiếm</a></li>
                        <li><a href="#">Xem công ty</a></li>
                        <li><a href="#">Xem đánh giá</a></li>
                        <li><a href="#">Gửi CV</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 responsive-column">
                <div class="footer-item">
                    <h4 class="footer__title">Nhà tuyển dụng</h4>
                    <ul class="list-items">
                        <li><a href="#">Đăng tin tuyển dụng</a></li>
                        <li><a href="#">Xem danh sách CV</a></li>
                        <li><a href="#">Xem CV ứng viên</a></li>
                        <li><a href="#">Chọn ứng viên</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 responsive-column">
                <div class="footer-item">
                    <h4 class="footer__title">Liên kết</h4>
                    <ul class="list-items">
                        <li><a href="contact">Liên hệ</a></li>
                        <li><a href="about-us">Về chúng tôi</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Lưa chọn quảng cáo</a></li>
                        <li><a href="#">Quy chế hoạt động</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="copy-right margin-top-50px padding-top-30px">
                    <p class="copy__desc">
                        Bản quyền &copy;2021 90HaloJob
                        <span class="la la-heart-o"></span><a href="javascript:void(0)">Qha</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>