<header class="header-area header-desktop">
    <div class="header-menu-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-full-width">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images//logo2ss.png" alt="logo"></a>
                        </div>
                        
                        <div class="logo-right-content">
                            <div class="header-action-button d-flex align-items-center">
                                <div class="notification-wrap d-flex align-items-center">
                                    <div class="notification-item mr-3">
                                        <div class="dropdown">
                                            <button class="notification-btn dropdown-toggle" type="button" id="notificationDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="la la-bell"></i>
                                                <span class="quantity">5</span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="notificationDropdownMenu">
                                                <div class="mess-dropdown">
                                                    <div class="mess__title">
                                                        <h4 class="widget-title d-flex align-items-center justify-content-between">Thông báo<a href="#" class="font-size-12 color-text-3">Đánh dấu tất cả đã đọc</a></h4>
                                                        <p class="font-size-12 font-weight-medium">Bạn có 5 thông báo</p>
                                                    </div>
                                                    <div class="mess__body">
                                                        <a href="#" class="d-block">
                                                            <div class="mess__item">
                                                                <div class="icon-element">
                                                                    <i class="la la-bolt"></i>
                                                                </div>
                                                                <div class="content">
                                                                    <p class="text">Hồ sơ Cv của bạn đã được cập nhật!</p>
                                                                    <span class="time">5 giờ trước</span>
                                                                </div>
                                                            </div><!-- end mess__item -->
                                                        </a>
                                                        <a href="#" class="d-block">
                                                            <div class="mess__item">
                                                                <div class="icon-element">
                                                                    <i class="la la-lock"></i>
                                                                </div>
                                                                <div class="content">
                                                                    <p class="text">Mật khẩu của bạn đã được thay đổi</p>
                                                                    <span class="time">2 ngày trước</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="d-block">
                                                            <div class="mess__item">
                                                                <div class="icon-element">
                                                                    <i class="la la-check-circle"></i>
                                                                </div>
                                                                <div class="content">
                                                                    <p class="text">Bạn đã ứng tuyển vào 1 công việc <span class="color-text">Front-end Developer</span></p>
                                                                    <span class="time">1 ngày trước</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        
                                                        <a href="#" class="d-block">
                                                            <div class="mess__item">
                                                                <div class="icon-element">
                                                                    <i class="la la-download"></i>
                                                                </div>
                                                                <div class="content">
                                                                    <p class="text">1 nhà tuyển dụng đã đồng ý hồ sơ của bạn</p>
                                                                    <span class="time">1 ngày trước</span>
                                                                </div>
                                                            </div><!-- end mess__item -->
                                                        </a>
                                                    </div><!-- end mess__body -->
                                                    <div class="mess__item border-bottom-0 text-center">
                                                        <a href="#" class="theme-btn w-100">Tất cả thông báo</a>
                                                    </div><!-- end mess__item -->
                                                </div><!-- end mess-dropdown -->
                                            </div><!-- end dropdown-menu -->
                                        </div><!-- end dropdown -->
                                    </div>
                                    <div class="notification-item mr-3">
                                        <div class="dropdown">
                                            <button class="notification-btn dropdown-toggle" type="button" id="messageDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="la la-envelope"></i>
                                                <span class="quantity">5</span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="messageDropdownMenu">
                                                <div class="mess-dropdown">
                                                    <div class="mess__title">
                                                        <h4 class="widget-title d-flex align-items-center justify-content-between">Tin nhắn <a href="#" class="font-size-12 color-text-3">abcccc</a></h4>
                                                        <p class="font-size-12 font-weight-medium">Bạn có 5 tin nhắn mới</p>
                                                    </div><!-- end mess__title -->
                                                    <div class="mess__body">
                                                        <a href="candidate-dashboard-message.html" class="d-block">
                                                            <div class="mess__item">
                                                                <div class="avatar dot-status">
                                                                    <img src="assets/images//small-team1.jpg" alt="Michelle Moreno">
                                                                </div>
                                                                <div class="content">
                                                                    <h4 class="widget-title">Nguyễn Văn C</h4>
                                                                    <p class="text">Cảm ơn bạn đã liên hệ. Chúng tôi sẽ phản hồi sớm nhất.</p>
                                                                    <span class="time">5 phút trước</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="candidate-dashboard-message.html" class="d-block">
                                                            <div class="mess__item">
                                                                <div class="avatar dot-status online-status">
                                                                    <img src="assets/images//small-team2.jpg" alt="Michelle Moreno">
                                                                </div>
                                                                <div class="content">
                                                                    <h4 class="widget-title">Nguyễn Văn C</h4>
                                                                    <p class="text">Cảm ơn bạn đã liên hệ. Chúng tôi sẽ phản hồi sớm nhất.</p>
                                                                    <span class="time">5 phút trước</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="candidate-dashboard-message.html" class="d-block">
                                                            <div class="mess__item">
                                                                <div class="avatar dot-status">
                                                                    <img src="assets/images//small-team1.jpg" alt="Michelle Moreno">
                                                                </div>
                                                                <div class="content">
                                                                    <h4 class="widget-title">Nguyễn Văn C</h4>
                                                                    <p class="text">Cảm ơn bạn đã liên hệ. Chúng tôi sẽ phản hồi sớm nhất có thể.</p>
                                                                    <span class="time">5 phút trước</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="candidate-dashboard-message.html" class="d-block">
                                                            <div class="mess__item">
                                                                <div class="avatar dot-status online-status">
                                                                    <img src="assets/images//small-team2.jpg" alt="Michelle Moreno">
                                                                </div>
                                                                <div class="content">
                                                                    <h4 class="widget-title">Nguyễn Văn C</h4>
                                                                    <p class="text">Cảm ơn bạn đã liên hệ. Chúng tôi sẽ phản hồi sớm nhất.</p>
                                                                    <span class="time">5 phút trước</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="candidate-dashboard-message.html" class="d-block">
                                                            <div class="mess__item">
                                                                <div class="avatar dot-status">
                                                                    <img src="assets/images//small-team2.jpg" alt="Michelle Moreno">
                                                                </div>
                                                                <div class="content">
                                                                    <h4 class="widget-title">Nguyễn Văn C</h4>
                                                                    <p class="text">Cảm ơn bạn đã liên hệ. Chúng tôi sẽ phản hồi sớm nhất.</p>
                                                                    <span class="time">5 phút trước</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="mess__item border-bottom-0 text-center">
                                                        <a href="#" class="theme-btn w-100">Tất cả</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-action-wrap">
                                    <div class="notification-item">
                                        <div class="dropdown">
                                            <button class="notification-btn dot-status online-status dropdown-toggle" type="button" id="userDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="assets/images//small-team1.jpg" alt="John-doe">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="userDropdownMenu">
                                                <div class="mess-dropdown">
                                                    <div class="mess__title d-flex align-items-center">
                                                        <div class="image dot-status online-status">
                                                            <a href="#">
                                                                <img src="assets/images//small-team1.jpg" alt="John Doe">
                                                            </a>
                                                        </div>
                                                        <div class="content">
                                                            <h4 class="widget-title font-size-16">
                                                                <a href="#">Nguyễn Văn Hậu</a>
                                                            </h4>
                                                            <span class="email">nguyevan@gmail.com</span>
                                                        </div>
                                                    </div><!-- end mess__title -->
                                                    <div class="mess__body">
                                                        <ul class="list-items">
                                                            <li class="mb-0">
                                                                <a href="candidate-dashboard.html" class="d-block">
                                                                    <i class="la la-user"></i> Tài khoản
                                                                </a>
                                                            </li>
                                                            <li class="mb-0">
                                                                <a href="candidate-dashboard-bookmark.html" class="d-block">
                                                                    <i class="la la-bookmark"></i> Công việc đã lưu
                                                                </a>
                                                            </li>
                                                            <li class="mb-0">
                                                                <a href="candidate-add-resume.html" class="d-block">
                                                                    <i class="la la-plus"></i> Thêm Cv
                                                                </a>
                                                            </li>
                                                            <li class="mb-0">
                                                                <a href="candidate-dashboard.html" class="d-block">
                                                                    <i class="la la-question"></i> Trợ giúp
                                                                </a>
                                                            </li>
                                                            <li class="mb-0">
                                                                <a href="candidate-dashboard.html" class="d-block">
                                                                    <i class="la la-gear"></i> Cài đặt
                                                                </a>
                                                            </li>
                                                            <li class="mb-0">
                                                                <div class="section-block mt-2 mb-2"></div>
                                                            </li>
                                                            <li class="mb-0">
                                                                <a href="index.html" class="d-block">
                                                                    <i class="la la-power-off"></i> Đăng xuất
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div><!-- end mess__body -->
                                                </div><!-- end mess-dropdown -->
                                            </div><!-- end dropdown-menu -->
                                        </div><!-- end dropdown -->
                                    </div>
                                </div>
                            </div>
                            <div class="menu-toggler d-flex align-items-center">
                                <div class="side-menu-open">
                                    <span class="menu__bar"></span>
                                    <span class="menu__bar"></span>
                                    <span class="menu__bar"></span>
                                </div><!-- end side-menu-open -->
                                <div class="user-menu-open">
                                    <i class="la la-user"></i>
                                </div><!-- end user-menu-open -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>