<section class="breadcrumb-area">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content d-flex flex-wrap justify-content-between align-items-center">
                        <div class="section-heading">
                            <h2 class="sec__title mb-0">Danh sách nhà tuyển dụng</h2>
                        </div>
                        <ul class="list-items d-flex align-items-center">
                            <li class="active__list-item"><a href="index.html">Trang chủ</a></li>
                            <!-- <li class="active__list-item">Pages</li> -->
                            <li>Danh sách nha tuyển dụng</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="card-area padding-top-100px padding-bottom-80px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="generic-header margin-bottom-30px">
                    <p class="showing__text text-left">Hiển thị {{indexStart}} đến {{indexEnd}} của {{companies.length}} kết quả</p>
                    <div class="sort-option mr-3">
                        <p-dropdown [options]="sortList" [(ngModel)]="selectedSort" optionLabel="label" [showClear]="true"  optionValue="code"></p-dropdown>
                    </div>
                    <div class="generic-nav-wrap">
                        <nav>
                            <div class="nav nav-tabs generic-nav" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="list-view-tab" data-toggle="tab" href="#list-view" role="tab" aria-controls="list-view" aria-selected="true">
                                    <span class="la la-list" data-toggle="tooltip" data-placement="top" title="List View"></span>
                                </a>
                                <a class="nav-item nav-link" id="grid-view-tab" data-toggle="tab" href="#grid-view" role="tab" aria-controls="grid-view" aria-selected="false">
                                    <span class="la la-th-large" data-toggle="tooltip" data-placement="top" title="Grid View"></span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sidebar mt-0">
                    <div class="sidebar-widget">
                        <h3 class="widget-title">Tên công ty</h3>
                        <div class="contact-form-action mb-4">
                            <form action="#">
                                <div class="form-group">
                                    <span class="la la-search form-icon"></span>
                                    <input class="form-control" [(ngModel)]="dataSearch.name" type="text" placeholder="Tên công ty" name="companyName" (change)="search()">
                                </div>
                            </form>
                        </div>
                        <div class="sidebar-option mb-4">
                            <h3 class="widget-title">Địa chỉ</h3>
                            <div class="">
                                <p-dropdown [options]="cities" [(ngModel)]="dataSearch.cityName" name="cityName" optionLabel="provinceName" optionValue="provinceName" [filter]="true" filterBy="provinceName" [showClear]="false" placeholder="Chọn địa chỉ" (onChange)="search()"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="sidebar-widget">
                        <div class="billing-form-item">
                            <div class="billing-title-wrap">
                                <h3 class="widget-title">Industry</h3>
                                <div class="title-shape"></div>
                            </div>
                            <div class="billing-content">
                                <ul>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb1">
                                            <label for="chb1" class="font-weight-medium">Development (33)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb2">
                                            <label for="chb2" class="font-weight-medium">Management (27)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb3">
                                            <label for="chb3" class="font-weight-medium">Finance (48)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb4">
                                            <label for="chb4" class="font-weight-medium">Html Department (14)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb5">
                                            <label for="chb5" class="font-weight-medium">Seo (27)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb6">
                                            <label for="chb6" class="font-weight-medium">Banking (13)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb7">
                                            <label for="chb7" class="font-weight-medium">Designing (22)</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <div class="billing-form-item">
                            <div class="billing-title-wrap">
                                <h3 class="widget-title">Team Size</h3>
                                <div class="title-shape"></div>
                            </div>
                            <div class="billing-content">
                                <ul>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb8">
                                            <label for="chb8" class="font-weight-medium">1 - 101 (16)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb9">
                                            <label for="chb9" class="font-weight-medium">101 - 201 (0)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb10">
                                            <label for="chb10" class="font-weight-medium">201 - 301 (0)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb11">
                                            <label for="chb11" class="font-weight-medium">301 - 401 (3)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb12">
                                            <label for="chb12" class="font-weight-medium">401 - 501 (4)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="chb13">
                                            <label for="chb13" class="font-weight-medium">501 - 601 (5)</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-9">
              <div class="employer-post-wrap">
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                          <div class="job-content">
                              <div class="job-card job-card-layout" *ngFor="let com of companiesPagi">
                                  <div class="job-card-details d-flex align-items-center justify-content-between">
                                      <div class="card-head d-flex align-items-center">
                                          <div class="company-avatar mr-3">
                                              <a href="javascript:void(0)" class="d-block">
                                                  <img src="{{apiImg}}{{com.objImage.location}}" alt="">
                                              </a>
                                          </div>
                                          <div class="company-title-box">
                                              <h4 class="card-title mb-1"><a routerLink="{{com.companyId}}">{{com.companyName}} </a> </h4>
                                              <p class="card-sub">
                                                  <!-- <span class="mr-2"><i class="la la-briefcase color-text-2 mr-1"></i>Software Firm</span> -->
                                                  <span class="mr-2"><i class="la la-map-marker color-text-2 mr-1"></i>{{com.objAddress.fullAddress}}, {{com.objAddress.wardName}}, </span>
                                                  <br>
                                                  <span>{{com.objAddress.districtName}}, {{com.objAddress.cityName}}</span>
                                              </p>
                                          </div>
                                      </div>
                                      <div class="btn-box">
                                          <a routerLink="{{com.companyId}}" class="theme-btn">Xem chi tiết</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                          <div class="job-content">
                              <div class="row">
                                  <div class="col-lg-6 responsive-column" *ngFor="let com of companiesPagi">
                                      <div class="job-card">
                                          <div class="job-card-content">
                                              <div class="card-head d-flex align-items-center">
                                                  <div class="company-avatar mr-3">
                                                      <a href="javascript:void(0)" class="d-block">
                                                        <img src="{{apiImg}}{{com.objImage.location}}" alt="">
                                                      </a>
                                                  </div>
                                                  <div class="company-title-box">
                                                      <h4 class="card-title mb-1"><a routerLink="{{com.companyId}}"> {{com.companyName}}</a> </h4>
                                                      <p class="card-sub">
                                                          <!-- <span class="mr-2"><i class="la la-briefcase color-text-2 mr-1"></i></span> -->
                                                          <span class="mr-2"><i class="la la-map-marker color-text-2 mr-1"></i>{{com.objAddress.fullAddress}}, {{com.objAddress.wardName}}, {{com.objAddress.districtName}}, {{com.objAddress.cityName}}</span>
                                                      </p>
                                                  </div>
                                              </div>
                                              <div class="btn-box margin-top-30px">
                                                  <a routerLink="{{com.companyId}}" class="theme-btn">Xem chi tiết</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <app-pagination [rows]="10" [totalRecords]="companies.length" (onChange)="onChangePage($event)"></app-pagination>
            </div>
        </div>
    </div>
</section>

<div class="section-block"></div>


<!-- <section class="cta-area padding-top-100px padding-bottom-80px cta-area-2 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2 class="sec__title">Let us help you get started</h2>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 responsive-column">
                <div class="post-card section-bg pb-5 pr-4 pl-4 pt-4">
                    <div class="post-card-content">
                        <img src="assets/images/search.svg" alt="" class="img-fluid">
                        <h2 class="widget-title mt-3">Are You Looking for a Job?</h2>
                        <p>
                            Objectively innovate empowered manufactured products whereas parallel platforms.
                        </p>
                    </div>
                    <div class="btn-box mt-4 text-center">
                        <a href="job-listing.html" class="theme-btn">Find a Job</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 responsive-column">
                <div class="post-card section-bg pb-5 pr-4 pl-4 pt-4">
                    <div class="post-card-content">
                        <img src="assets/images/podcast.svg" alt="" class="img-fluid">
                        <h2 class="widget-title mt-3">Employers Looking to Post a Job?</h2>
                        <p>
                            Objectively innovate empowered manufactured products whereas parallel platforms.
                        </p>
                    </div>
                    <div class="btn-box mt-4 text-center">
                        <a href="employer-dashboard-post-job.html" class="theme-btn">Post a Job</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 responsive-column">
                <div class="post-card section-bg pb-5 pr-4 pl-4 pt-4">
                    <div class="post-card-content">
                        <img src="assets/images/data-points.svg" alt="" class="img-fluid">
                        <h2 class="widget-title mt-3">Job Market Data</h2>
                        <p>
                            Objectively innovate empowered manufactured products whereas parallel platforms.
                        </p>
                    </div>
                    <div class="btn-box mt-4 text-center">
                        <a href="employer-dashboard-post-job.html" class="theme-btn">Get Data</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
