<section class="breadcrumb-area">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content d-flex flex-wrap justify-content-between align-items-center text-left">
                        <div class="bread-details d-flex align-items-center">
                            <div class="bread-img">
                                <img src="{{apiUrl}}{{company.objImage.location}}" alt="">
                            </div>
                            <div class="employer-content">
                                <h2 class="widget-title font-size-30 text-white pb-1">{{company.companyName}}</h2>
                                <p class="font-size-16 mt-1 text-white">
                                    <span class="mr-2"><i class="la la-map-marker mr-1"></i> {{company.objAddress.fullAddress}}, {{company.objAddress.wardName}}, {{company.objAddress.districtName}}, {{company.objAddress.cityName}}</span>
                                    <span class="rating-rating">
                                    <span class="rating-count">{{company.rating}}</span>
                                    <span class="la la-star"></span>
                                    <span class="la la-star"></span>
                                    <span class="la la-star"></span>
                                    <span class="la la-star"></span>
                                    <span class="la la-star-half-alt"></span>
                                </span>
                                </p>
                                <p class="mt-2 font-size-15">
                                    <span class="text-white mr-2"><i class="la la-envelope-o mr-1"></i> {{company.email}}</span>
                                    <span class="text-white mr-2"><i class="la la-phone mr-1"></i> {{company.telephone}}</span>
                                    <span class="text-white mr-2">
                                        <i class="la la-globe mr-1"></i> 
                                        <a class="text-white mr-2" href="{{company.websiteUrl}}" target="_blank">{{company.websiteUrl}}</a>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="bread-action">
                            <ul class="listing-info">
                                <li>
                                    <button type="button" class="theme-btn mr-1"><i class="la la-bookmark font-size-16"></i> Lưu</button>
                                </li>
                                <li>
                                    <button type="button" class="theme-btn border-0"><i class="la la-user font-size-16"></i> Theo dõi</button>
                                </li>
                            </ul>
                            <p class="text-white font-size-13 mt-1">Nhận thông tin cập nhật hàng tuần</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="employer-details padding-top-100px padding-bottom-70px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-employer-wrap">
                    <div class="employer-description padding-bottom-35px">
                        <div class="section-heading">
                            <!-- <h2 class="sec__title font-size-24 line-height-35">Bluetech, Inc Careers and Employment</h2> -->
                        </div>
                        <h2 class="widget-title">Giới thiệu về cônng ty</h2>
                        <div class="title-shape"></div>
                        <p class="mt-4 mb-3">
                            {{company.description}}
                        </p>
                       
                    </div>
                    <div class="video-employer padding-bottom-40px">
                        <h2 class="widget-title">Video</h2>
                        <div class="title-shape"></div>
                        <div class="video__box margin-top-35px text-center">
                            <img src="assets/images//img11.jpg" alt="video-image">
                            <a class="mfp-iframe video-popup-btn video-play-btn" href="https://www.youtube.com/watch?v=MiaRd3NO02w" title="Play Video">
                                <span class="la la-play"></span>
                            </a>
                        </div>
                    </div>
                    <div class="user-action-card radius-round section-bg p-5 d-flex align-items-center justify-content-between">
                        <div class="user-action-heading">
                            <h2 class="widget-title pb-2">What would you say about your employer?</h2>
                            <p>Help fellow job seekers by sharing your unique experience.</p>
                        </div>
                        <div class="btn-box">
                            <a href="#" class="theme-btn">Nhận xét</a>
                        </div>
                    </div>
                    <div class="employer-job-post padding-top-40px">
                        <h2 class="widget-title">Các vị trí tuyển dụng của công ty</h2>
                        <div class="title-shape"></div>
                        <div class="job-content margin-top-35px">
                            <div class="job-card job-card-layout" *ngFor="let job of jobs">
                                <div class="job-card-details d-flex align-items-center justify-content-between">
                                    <div class="card-head d-flex align-items-center">
                                        <div class="company-avatar mr-3">
                                            <a href="employer-details.html" class="d-block">
                                                <img src="{{apiUrl}}{{job.objCompany.objImage.location}}" alt="">
                                            </a>
                                        </div>
                                        <div class="company-title-box">
                                            <h4 class="card-title mb-1"><a href="javascript:void(0)" (click)="onSubmitRouter(job.id)"> {{job.jobTitle}}</a> </h4>
                                            <p class="card-sub">
                                                <span class="mr-2"><i class="la la-building-o color-text-2"></i> {{job.objCate.cateName}}</span>
                                                <span class="mr-2"><i class="la la-clock-o color-text-2"></i> {{job.objJobType.jobTypeName}}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="btn-box">
                                        <a href="javascript:void(0)" (click)="applyJob(job.id)" class="theme-btn">Ứng tuyển</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-block mt-5"></div>
                   
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <div class="billing-form-item">
                            <div class="billing-title-wrap">
                                <h3 class="widget-title">Thông tin công ty</h3>
                                <div class="title-shape"></div>
                            </div>
                            <div class="billing-content">
                                <div class="info-list static-info">
                                    <ul>
                                        <li class="mb-3 d-flex align-items-center">
                                            <p><i class="la la-map-marker"></i> <span class="color-text-2 font-weight-medium mr-1">Tên công ty:</span><a href="ct/employer/{{company.companyId}}"> {{company.companyName}}</a></p>
                                        </li>
                                        <li class="mb-3 d-flex align-items-center">
                                            <p><i class="la la-users"></i> <span class="color-text-2 font-weight-medium mr-1">Nhân viên:</span> {{company.companySize}}</p>
                                        </li>
                                        <li class="mb-3 d-flex align-items-center">
                                            <p><i class="la la-envelope-o"></i> <span class="color-text-2 font-weight-medium mr-1">Email:</span> {{company.email}}</p>
                                        </li>
                                        <li class="mb-3 d-flex align-items-center">
                                            <p><i class="la la-phone"></i> <span class="color-text-2 font-weight-medium mr-1">Số điện thoại:</span><a href="javascript:void(0)"> {{company.telephone}}</a></p>
                                        </li>
                                        <li class="mb-3 d-flex align-items-center">
                                            <p><i class="la la-globe"></i> <span class="color-text-2 font-weight-medium mr-1">Website:</span><a href="#"> {{company.websiteUrl}}</a></p>
                                        </li>
                                        <li class="mb-3 d-flex align-items-center">
                                            <p><i class="la la-clock-o"></i> <span class="color-text-2 font-weight-medium mr-1">Ngày thành lập:</span> {{company.founderDate | date: 'dd-MM-yyyy'}}</p>
                                        </li>
                                        <li class="mb-3 d-flex align-items-center">
                                            <p><i class="la la-eye"></i> <span class="color-text-2 font-weight-medium mr-1">Viewed:</span> 1320</p>
                                        </li>
                                        <li class="mb-3 d-flex align-items-center">
                                            <p><i class="la la-file-text-o"></i> <span class="color-text-2 font-weight-medium mr-1">Posted Jobs:</span> 12</p>
                                        </li>
                                        <li class="mb-3 d-flex align-items-center">
                                            <p><i class="la la-user"></i> <span class="color-text-2 font-weight-medium mr-1">Followers:</span> 1.2K</p>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <div class="billing-form-item">
                            <div class="billing-title-wrap">
                                <h2 class="widget-title">Địa chỉ</h2>
                                <div class="title-shape"></div>
                            </div>
                            <div class="billing-content">
                                <div class="listing-map gmaps">
                                    <div id="map">
                                        <iframe  height="300" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:EjxOZy4gOTIgVHLhuqduIFBow7osIE3hu5kgTGFvLCBIw6AgxJDDtG5nLCBIw6AgTuG7mWksIFZpZXRuYW0iLiosChQKEgmvlflMzKw1MRH1k50EXI9blBIUChIJ5zpvq82sNTERUgxL0oX93WA&key=AIzaSyDC8IprR6c9EIXpMjwWoCG3oScorHhgoUQ"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget ttp">
                        
                        <div class="billing-form-item">
                            <div class="billing-title-wrap">
                                <h3 class="widget-title">Các công ty nổi bật</h3>
                                <div class="title-shape"></div>
                            </div>
                            <div class="job-card job-card-layout">
                                <div class="job-card-details d-flex align-items-center justify-content-between">
                                    <div class="card-head d-flex align-items-center">
                                        <div class="company-avatar mr-3">
                                            <a href="employer-details.html" class="d-block">
                                                <img src="" alt="">
                                            </a>
                                        </div>
                                        <div class="company-title-box">
                                            <h4 class="card-title mb-1"><a href="job-details.html"> Finance Manager & Health</a> </h4>
                                            <p class="card-sub">
                                                <span class="mr-2"><i class="la la-map-marker color-text-2"></i> Aberdeen, United Kingdom</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="job-card job-card-layout">
                                <div class="job-card-details d-flex align-items-center justify-content-between">
                                    <div class="card-head d-flex align-items-center">
                                        <div class="company-avatar mr-3">
                                            <a href="employer-details.html" class="d-block">
                                                <img src="" alt="">
                                            </a>
                                        </div>
                                        <div class="company-title-box">
                                            <h4 class="card-title mb-1"><a href="job-details.html"> Finance Manager & Health</a> </h4>
                                            <p class="card-sub">
                                                <span class="mr-2"><i class="la la-map-marker color-text-2"></i> Aberdeen, United Kingdom</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="job-card job-card-layout">
                                <div class="job-card-details d-flex align-items-center justify-content-between">
                                    <div class="card-head d-flex align-items-center">
                                        <div class="company-avatar mr-3">
                                            <a href="employer-details.html" class="d-block">
                                                <img src="" alt="">
                                            </a>
                                        </div>
                                        <div class="company-title-box">
                                            <h4 class="card-title mb-1"><a href="job-details.html"> Finance Manager & Health</a> </h4>
                                            <p class="card-sub">
                                                <span class="mr-2"><i class="la la-map-marker color-text-2"></i> Aberdeen, United Kingdom</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget social-widget">
                        <div class="billing-form-item">
                            <div class="billing-title-wrap">
                                <h3 class="widget-title">Follow & Connect</h3>
                                <div class="title-shape"></div>
                            </div>
                            <div class="billing-content">
                                <ul class="social-profile">
                                    <li><a href="#"><i class="la la-facebook"></i></a></li>
                                    <li><a href="#"><i class="la la-twitter"></i></a></li>
                                    <li><a href="#"><i class="la la-instagram"></i></a></li>
                                    <li><a href="#"><i class="la la-dribbble"></i></a></li>
                                    <li><a href="#"><i class="la la-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>