<section class="form-shared padding-top-100px padding-bottom-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="user-action-form">
                    <div class="tab-shared tab-shared-3">
                        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link theme-btn active" id="login-tab" data-toggle="tab" href="#login-nav" role="tab" aria-controls="login-nav" aria-selected="true">
                                    <i class="la la-sign-in"></i> Đăng nhập
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link theme-btn" id="signup-tab" data-toggle="tab" href="#signup-nav" role="tab" aria-controls="signup-nav" aria-selected="false">
                                    <i class="la la-user"></i> Đăng ký
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="login-nav" role="tabpanel" aria-labelledby="login-tab">
                            <div class="billing-form-item mb-0">  
                                <div class="billing-content">
                                    <div class="contact-form-action">
                                        <form [formGroup]="loginRequest">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="input-box">
                                                        <label class="label-text">Tên tài khoản</label>
                                                        <div class="form-group">
                                                            <i class="la la-user form-icon"></i>
                                                            <input class="form-control" type="text" name="username" placeholder="Nhập tên tài khoản" formControlName="username">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="input-box">
                                                        <label class="label-text">Mật khẩu</label>
                                                        <div class="form-group">
                                                            <i class="la la-lock form-icon"></i>
                                                            <input class="form-control password-field" type="password" name="password" placeholder="Nhập mật khảu" formControlName="password">
                                                            <a href="javascript:void(0)" class="btn toggle-password" title="Toggle show/hide password">
                                                                <i class="la la-eye eye-on"></i>
                                                                <i class="la la-eye-slash eye-off"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <div class="custom-checkbox mr-0 d-flex align-items-center justify-content-between">
                                                            <div>
                                                                <input type="checkbox" id="chb1">
                                                                <label for="chb1">Lưu mật khẩu</label>
                                                            </div>
                                                            <div>
                                                                <a href="recover.html" class="color-text">Quên mật khẩu?</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="btn-box margin-top-20px margin-bottom-10px">
                                                        <button class="theme-btn border-0" type="button" (click)="login()">Đăng nhập</button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <p>Chưa có tài khoản? <a href="sign-up.html" class="color-text"> Tạo tài khoản</a></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="signup-nav" role="tabpanel" aria-labelledby="signup-tab">
                            <div class="billing-form-item mb-0">
                                <div class="billing-title-wrap border-bottom-0 text-center">
                                    <h3 class="widget-title font-size-28 pb-2">Tạo tài khoản của bạn</h3>         
                                </div>
                                <div class="billing-content">
                                    <div class="contact-form-action">
                                        <form [formGroup]="formRegister">
                                            <div class="row mb-3">
                                                <div class="col-lg-6 responsive-column">
                                                    <div class="form-group">
                                                        <button class="theme-btn border-0 w-100" [class]="btnBg1" type="button" (click)="onClickCan()">
                                                             Ứng viên
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 responsive-column">
                                                    <div class="form-group">
                                                        <button class="theme-btn border-0 w-100" [class]="btnBg2" type="button" (click)="onClickEmp()">
                                                            Nhà tuyển dụng
                                                        </button>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 column-lg-full">
                                                    <div class="input-box">
                                                        <label class="label-text">Tên tài khoản</label>
                                                        <div class="form-group">
                                                            <i class="la la-user form-icon"></i>
                                                            <input class="form-control" type="text" formControlName="username" placeholder="Nhập tên tài khoản">
                                                        </div>
                                                        <div *ngIf="dataFormRegister.username.invalid &&
                                                        (dataFormRegister.username.dirty || dataFormRegister.username.touched)">
                                                            <div *ngIf="dataFormRegister.username.errors">
                                                                <div *ngIf="dataFormRegister.username.errors.required">
                                                                    <span class="err">Tên tài khoản còn trống !</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 column-lg-full">
                                                    <div class="input-box">
                                                        <label class="label-text">Email</label>
                                                        <div class="form-group">
                                                            <i class="la la-envelope-o form-icon"></i>
                                                            <input class="form-control" type="email" formControlName="email"placeholder="Nhập địa chỉ email">
                                                        </div>
                                                        <div *ngIf="dataFormRegister.email.invalid &&
                                                        (dataFormRegister.email.dirty || dataFormRegister.email.touched)">
                                                            <div *ngIf="dataFormRegister.email.errors">
                                                                <div *ngIf="dataFormRegister.email.errors.required">
                                                                    <span class="err">Email còn trống !</span>
                                                                </div>
                                                                <div *ngIf="dataFormRegister.email.errors.email">
                                                                    <span class="err">Email không dúng định dạng !</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 column-lg-full">
                                                    <div class="input-box mb-3">
                                                        <label class="label-text">Mật khẩu</label>
                                                        <div class="form-group mb-0">
                                                            <i class="la la-lock form-icon"></i>
                                                            <input class="form-control password-field" type="password" formControlName="password" placeholder="Nhập mật khẩu">
                                                            <a href="javascript:void(0)" class="btn toggle-password" title="Toggle show/hide password">
                                                                <i class="la la-eye eye-on"></i>
                                                                <i class="la la-eye-slash eye-off"></i>
                                                            </a>
                                                        </div>
                                                        <div
                                                            *ngIf="dataFormRegister.password.invalid &&
                                                                (dataFormRegister.password.dirty || dataFormRegister.password.touched)">
                                                            <div *ngIf="dataFormRegister.password.errors">
                                                                <div *ngIf="dataFormRegister.password.errors.required">
                                                                    <span class="err">Mật khẩu còn trống !</span>
                                                                </div>
                                                                <div *ngIf="dataFormRegister.password.errors.pattern">
                                                                    <span class="err">Tối thiểu tám ký tự, ít nhất một chữ hoa, một chữ thường và một số !</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 column-lg-full">
                                                    <div class="input-box">
                                                        <label class="label-text">Xác nhận mật khẩu</label>
                                                        <div class="form-group">
                                                            <i class="la la-lock form-icon"></i>
                                                            <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Xác nhận lại mật khẩu">
                                                        </div>
                                                        <div
                                                            *ngIf="dataFormRegister.confirmPassword.invalid &&
                                                                (dataFormRegister.confirmPassword.dirty || dataFormRegister.confirmPassword.touched)">
                                                            <div *ngIf="dataFormRegister.confirmPassword.errors">
                                                                <div *ngIf="dataFormRegister.confirmPassword.errors.required">
                                                                    <span class="err">Xác nhận mật khẩu còn trống !</span>
                                                                </div>
                                                                <div *ngIf="dataFormRegister.confirmPassword.errors.confirmedValidator">
                                                                    <span class="err">Xác nhận mật khẩu không trùng khớp !</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 column-lg-full">
                                                    <div class="input-box">
                                                        <label class="label-text">Số điện thoại</label>
                                                        <div class="form-group">
                                                            <i class="la la-phone-volume form-icon"></i>
                                                            <input class="form-control" type="email" formControlName="telephone" placeholder="Nhập số điện thoại">
                                                        </div>
                                                        <div
                                                            *ngIf="dataFormRegister.telephone.invalid &&
                                                                (dataFormRegister.telephone.dirty || dataFormRegister.telephone.touched)">
                                                            <div *ngIf="dataFormRegister.telephone.errors">
                                                                <div *ngIf="dataFormRegister.telephone.errors.required">
                                                                    <span class="err">Số điện thoại còn trống !</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 column-lg-full">
                                                    <div class="input-box">
                                                        <label class="label-text">Ngày sinh</label>
                                                        <div class="form-group">
                                                            <i class="la la-calendar-alt form-icon"></i>
                                                            <input class="form-control" type="date" formControlName="birthday" placeholder="Nhập số điện thoại">
                                                        </div>
                                                        <div
                                                            *ngIf="dataFormRegister.birthday.invalid &&
                                                                (dataFormRegister.birthday.dirty || dataFormRegister.birthday.touched)">
                                                            <div *ngIf="dataFormRegister.birthday.errors">
                                                                <div *ngIf="dataFormRegister.birthday.errors.required">
                                                                    <span class="err">Ngày sinh còn trống !</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 column-lg-full">
                                                    <div class="input-box">
                                                        <label class="label-text">Giới tính</label>
                                                        <div class="form-group">
                                                            <div class="job-alert">
                                                                <div class="radio-option d-inline-block mr-4">
                                                                    <label for="radio-1" class="radio-trigger font-weight-medium mb-3">
                                                                        <input type="radio" id="radio-1" value="Nam" formControlName="gender" checked="">
                                                                        <span class="checkmark"></span>
                                                                        <span class="color-text-3">Nam</span>
                                                                    </label>
                                                                </div>
                                                                <div class="radio-option d-inline-block">
                                                                    <label for="radio-2" class="radio-trigger font-weight-medium mb-3">
                                                                        <input type="radio" value="Nữ" id="radio-2" formControlName="gender">
                                                                        <span class="checkmark"></span>
                                                                        <span class="color-text-3">Nữ</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            *ngIf="dataFormRegister.gender.invalid &&
                                                                (dataFormRegister.gender.dirty || dataFormRegister.gender.touched)">
                                                            <div *ngIf="dataFormRegister.gender.errors">
                                                                <div *ngIf="dataFormRegister.gender.errors.required">
                                                                    <span class="err">Giới tính còn trống !</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <ng-container *ngIf="selected">
                                                    <div class="col-lg-12">
                                                        <h4 class="widget-title font-size-20 pb-2">Thông tin công ty</h4>
                                                    </div>
                                                    <div class="col-lg-6 column-lg-full">
                                                        <div class="input-box">
                                                            <label class="label-text">Tên công ty</label>
                                                            <div class="form-group">                                                  
                                                                <i class="las la-building form-icon"></i>
                                                                <input class="form-control" type="text" formControlName="companyName" placeholder="Nhập tên công ty">
                                                            </div>
                                                            <div
                                                                *ngIf="dataFormRegister.companyName.invalid &&
                                                                    (dataFormRegister.companyName.dirty || dataFormRegister.companyName.touched)">
                                                                <div *ngIf="dataFormRegister.companyName.errors">
                                                                    <div *ngIf="dataFormRegister.companyName.errors.required">
                                                                        <span class="err">Tên công ty còn trống !</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 column-lg-full">
                                                        <div class="input-box">
                                                            <label class="label-text">Địa chỉ email công ty</label>
                                                            <div class="form-group">
                                                                <i class="las la-envelope form-icon"></i>
                                                                <input class="form-control" type="email" formControlName="emailCom" placeholder="Nhập địa chỉ email">
                                                            </div>
                                                            <div
                                                                *ngIf="dataFormRegister.emailCom.invalid &&
                                                                    (dataFormRegister.emailCom.dirty || dataFormRegister.emailCom.touched)">
                                                                <div *ngIf="dataFormRegister.emailCom.errors">
                                                                    <div *ngIf="dataFormRegister.emailCom.errors.required">
                                                                        <span class="err">Địa chỉ email còn trống !</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 column-lg-full">
                                                        <div class="input-box">
                                                            <label class="label-text">Số điện thoại công ty</label>
                                                            <div class="form-group">
                                                                <i class="las la-phone-volume form-icon"></i>
                                                                <input class="form-control" type="text" formControlName="telephoneCom" placeholder="Nhập số điện thoại">
                                                            </div>
                                                            <div
                                                                *ngIf="dataFormRegister.telephoneCom.invalid &&
                                                                    (dataFormRegister.telephoneCom.dirty || dataFormRegister.telephoneCom.touched)">
                                                                <div *ngIf="dataFormRegister.telephoneCom.errors">
                                                                    <div *ngIf="dataFormRegister.telephoneCom.errors.required">
                                                                        <span class="err">Số điện thoại còn trống !</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 column-lg-full">
                                                        <div class="input-box">
                                                            <label class="label-text">Website</label>
                                                            <div class="form-group">
                                                                <i class="la la-globe form-icon"></i>
                                                                <input class="form-control" type="text" formControlName="websiteUrl" placeholder="Nhập link website">
                                                            </div>
                                                            <div
                                                                *ngIf="dataFormRegister.gender.invalid &&
                                                                    (dataFormRegister.gender.dirty || dataFormRegister.gender.touched)">
                                                                <div *ngIf="dataFormRegister.gender.errors">
                                                                    <div *ngIf="dataFormRegister.gender.errors.required">
                                                                        <span class="err">Website còn trống !</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 column-lg-full">
                                                        <div class="input-box">
                                                            <label class="label-text">Quy mô công ty</label>
                                                            <div class="form-group">
                                                                <p-dropdown [options]="companySizeList"  optionLabel="label" optionValue="value" placeholder="Chọn quy mô công ty" formControlName="companySize"></p-dropdown>
                                                            </div>
                                                            <div
                                                                *ngIf="dataFormRegister.gender.invalid &&
                                                                    (dataFormRegister.gender.dirty || dataFormRegister.gender.touched)">
                                                                <div *ngIf="dataFormRegister.gender.errors">
                                                                    <div *ngIf="dataFormRegister.gender.errors.required">
                                                                        <span class="err">Quy mô công ty còn trống !</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 column-lg-full">
                                                        <div class="input-box">
                                                            <label class="label-text">Ngày thành lập</label>
                                                            <div class="form-group">
                                                                <i class="la la-calendar-alt form-icon"></i>
                                                                <input class="form-control" type="date" formControlName="founderDate" >
                                                            </div>
                                                            <div
                                                                *ngIf="dataFormRegister.gender.invalid &&
                                                                    (dataFormRegister.gender.dirty || dataFormRegister.gender.touched)">
                                                                <div *ngIf="dataFormRegister.gender.errors">
                                                                    <div *ngIf="dataFormRegister.gender.errors.required">
                                                                        <span class="err">Ngày thành lập còn trống !</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 column-lg-full">
                                                        <div class="input-box">
                                                            <label class="label-text">Mô tả công ty</label>
                                                            <div class="form-group">
                                                                <textarea class="form-control" rows="7" formControlName="description"></textarea>
                                                            </div>
                                                            <div
                                                                *ngIf="dataFormRegister.gender.invalid &&
                                                                    (dataFormRegister.gender.dirty || dataFormRegister.gender.touched)">
                                                                <div *ngIf="dataFormRegister.gender.errors">
                                                                    <div *ngIf="dataFormRegister.gender.errors.required">
                                                                        <span class="err">Mô tả công ty còn trống !</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 column-lg-full">
                                                        <div class="input-box">
                                                            <label class="label-text">Tỉnh / Thành phố</label>
                                                            <div class="form-group">
                                                                <p-dropdown [options]="provinces" (onChange)="onChangeCity($event.value)" optionLabel="provinceName" formControlName="cityName" optionValue="provinceName" [filter]="true" filterBy="provinceName" name="provinceName" placeholder="Chọn thành phố">
                                                                </p-dropdown>
                                                            </div>
                                                            <div
                                                                *ngIf="dataFormRegister.gender.invalid &&
                                                                    (dataFormRegister.gender.dirty || dataFormRegister.gender.touched)">
                                                                <div *ngIf="dataFormRegister.gender.errors">
                                                                    <div *ngIf="dataFormRegister.gender.errors.required">
                                                                        <span class="err">Tỉnh / Thành phố còn trống !</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 column-lg-full">
                                                        <div class="input-box">
                                                            <label class="label-text">Quận / Huyện</label>
                                                            <div class="form-group">
                                                                <p-dropdown [options]="districts" (onChange)="onChangeDistrict($event.value)" optionLabel="districtName" optionValue="districtName" [filter]="true" filterBy="districtName" formControlName="districtName" name="districtName" placeholder="Chọn thành phố">
                                                                </p-dropdown>
                                                            </div>
                                                            <div
                                                                *ngIf="dataFormRegister.gender.invalid &&
                                                                    (dataFormRegister.gender.dirty || dataFormRegister.gender.touched)">
                                                                <div *ngIf="dataFormRegister.gender.errors">
                                                                    <div *ngIf="dataFormRegister.gender.errors.required">
                                                                        <span class="err">Quận / Huyện còn trống !</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 column-lg-full">
                                                        <div class="input-box">
                                                            <label class="label-text">Phường / Xã </label>
                                                            <div class="form-group">
                                                                <p-dropdown [options]="wards"  optionLabel="wardName" optionValue="wardName" [filter]="true" formControlName="wardName" filterBy="wardName" name="wardName" placeholder="Chọn thành phố">
                                                                </p-dropdown>
                                                            </div>
                                                            <div
                                                                *ngIf="dataFormRegister.gender.invalid &&
                                                                    (dataFormRegister.gender.dirty || dataFormRegister.gender.touched)">
                                                                <div *ngIf="dataFormRegister.gender.errors">
                                                                    <div *ngIf="dataFormRegister.gender.errors.required">
                                                                        <span class="err">Phường / Xã còn trống !</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>  
                                                    <div class="col-lg-6 column-lg-full">
                                                        <div class="input-box">
                                                            <label class="label-text">Địa chỉ chi tiết</label>
                                                            <div class="form-group">
                                                                <span class="la la-map-marker form-icon"></span>
                                                                <input class="form-control" type="text" formControlName="fullAddress" name="fullAddress" placeholder="Đại chỉ chi tiết">
                                                            </div>
                                                            <div
                                                                *ngIf="dataFormRegister.gender.invalid &&
                                                                    (dataFormRegister.gender.dirty || dataFormRegister.gender.touched)">
                                                                <div *ngIf="dataFormRegister.gender.errors">
                                                                    <div *ngIf="dataFormRegister.gender.errors.required">
                                                                        <span class="err">Địa chỉ chi tiết còn trống !</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>     
                                                    <div class="col-lg-12">
                                                        <div class="input-box">
                                                            <label class="label-text">Logo công ty</label>
                                                            <div class="form-group">
                                                                <p-fileUpload name="demo[]" (uploadHandler)="onUpload($event)" [customUpload]="true" [showUploadButton]="false" chooseLabel="Chọn logo"
                                                                [showCancelButton]="false" [multiple]= "false" accept="image/*" [maxFileSize]="1000000" (onSelect)="onUpload($event)">
                                                                    <ng-template pTemplate="content">
                                                                        <ul *ngIf="uploadedFiles.length">
                                                                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                                                        </ul>
                                                                    </ng-template>
                                                                </p-fileUpload>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>                                               
                                                </ng-container>
                                            </div>
                                                                                     
                                            
                                            <!-- <div class="input-box">
                                                <div class="form-group">
                                                    <div class="custom-checkbox d-block mr-0">
                                                        <input type="checkbox" id="chb3">
                                                        <label for="chb3">Tôi đồng ý với <a href="#" class="color-text">Chính sách quyền riêng tư</a> và <a href="#" class="color-text">Điều khoản dịch vụ</a> của HaloJob</label>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="btn-box margin-top-30px">
                                                <button class="theme-btn border-0" type="button" (click)="ngSubmit()">Tạo tài khoản</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>