<section class="blog-area padding-top-100px padding-bottom-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2 class="sec__title">Tin tức mới nhất</h2>
                    <!-- <p class="sec__desc">
                        Morbi convallis bibendum urna ut viverra. Maecenas quis consequat,<br>
                        a feugiat eros. Nunc ut lacinia tortors.
                    </p> -->
                </div><!-- end section-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row mt-5">
            <div class="col-lg-4 responsive-column">
                <div class="card-item">
                    <div class="card-content-wrap">
                        <div class="card-badge-wrap">
                            <span class="card-badge">Việc làm</span>
                            <div class="icon-element">
                                <i class="la la-share-alt"></i>
                                 <ul class="shared-list">
                                    <li><a href="#"><i class="la la-facebook"></i></a></li>
                                     <li><a href="#"><i class="la la-twitter"></i></a></li>
                                     <li><a href="#"><i class="la la-instagram"></i></a></li>
                                 </ul>
                            </div>
                        </div>
                        <img src="assets/images/img1.jpg" alt="blog image" class="img-fluid">
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="blog-single.html">3 điều cần biết về báo cáo việc làm</a>
                            </h4>
                            <p class="card-meta">
                                <img src="assets/images/avatar-mac-dinh-1.png" alt="" class="author-avatar">
                                <span class="font-weight-semi-bold">Nguyễn Văn Hậu</span> - 20/10/2021
                            </p>
                        </div><!-- end card-content -->
                    </div><!-- end card-content-wrap -->
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4 responsive-column">
                <div class="card-item">
                    <div class="card-content-wrap">
                        <div class="card-badge-wrap">
                            <span class="card-badge">Lời khuyên</span>
                            <div class="icon-element">
                                <i class="la la-share-alt"></i>
                                 <ul class="shared-list">
                                    <li><a href="#"><i class="la la-facebook"></i></a></li>
                                     <li><a href="#"><i class="la la-twitter"></i></a></li>
                                     <li><a href="#"><i class="la la-instagram"></i></a></li>
                                 </ul>
                            </div>
                        </div>
                        <img src="assets/images/img2.jpg" alt="blog image" class="img-fluid">
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="blog-single.html">8 mẹo để có sơ yếu lý lịch bán hàng bán lẻ hoàn hảo</a>
                            </h4>
                            <p class="card-meta">
                                <img src="assets/images/avatar-mac-dinh-1.png" alt="" class="author-avatar">
                                <span class="font-weight-semi-bold">Lê Ngọc Ánh</span> - 20/10/2021
                            </p>
                        </div><!-- end card-content -->
                    </div><!-- end card-content-wrap -->
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4 responsive-column">
                <div class="card-item">
                    <div class="card-content-wrap">
                        <div class="card-badge-wrap">
                            <span class="card-badge">Sức khỏe</span>
                            <div class="icon-element">
                                <i class="la la-share-alt"></i>
                                 <ul class="shared-list">
                                    <li><a href="#"><i class="la la-facebook"></i></a></li>
                                     <li><a href="#"><i class="la la-twitter"></i></a></li>
                                     <li><a href="#"><i class="la la-instagram"></i></a></li>
                                 </ul>
                            </div>
                        </div>
                        <img src="assets/images/img3.jpg" alt="blog image" class="img-fluid">
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="blog-single.html">10 công việc chăm sóc sức khỏe lương cao</a>
                            </h4>
                            <p class="card-meta">
                                <img src="assets/images/avatar-mac-dinh-1.png" alt="" class="author-avatar">
                                <span class="font-weight-semi-bold">Trương Thị Qúy</span> - 20/10/2021
                            </p>
                        </div><!-- end card-content -->
                    </div><!-- end card-content-wrap -->
                </div><!-- end card-item -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-box text-center mt-4">
                    <a href="blog-grid.html" class="theme-btn">Đọc thêm các bài báo</a>
                </div>
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>