<div class="dashboard-content-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content d-flex flex-wrap justify-content-between align-items-center">
                    <div class="section-heading">
                        <h2 class="sec__title">Messages</h2>
                    </div><!-- end section-heading -->
                    <ul class="list-items d-flex align-items-center">
                        <li class="active__list-item"><a href="index.html">Home</a></li>
                        <li class="active__list-item"><a href="index.html">Dashboard</a></li>
                        <li>Messages</li>
                    </ul>
                </div><!-- end breadcrumb-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row mt-5">
            <div class="col">
                <div class="dashboard-message-wrapper d-flex">
                    <div class="message-sidebar">
                        <div class="message-search">
                            <div class="contact-form-action">
                                <form action="#">
                                    <div class="form-group mb-0">
                                        <input class="form-control" type="text" placeholder="Search...">
                                        <button type="submit" class="submit-btn "><i class="la la-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div><!-- message-search -->
                        <div class="message-inbox-item">
                            <div class="mess__body">
                                <a href="#" class=" d-block message-inbox message-active">
                                    <div class="mess__item">
                                        <div class="avatar dot-status online-status">
                                            <img src="assets/images/small-team1.jpg" alt="Michelle Moreno">
                                        </div>
                                        <div class="content">
                                            <h4 class="widget-title">Daniel Hardman</h4>
                                            <p class="text">How the hell am I supposed to get a jury to believe you when I am not even sure that I do</p>
                                            <span class="time color-text-3 font-size-12">5 min ago</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class=" d-block message-inbox">
                                    <div class="mess__item">
                                        <div class="avatar dot-status">
                                            <img src="assets/images/small-team2.jpg" alt="Michelle Moreno">
                                        </div>
                                        <div class="content">
                                            <h4 class="widget-title">Michelle Moreno</h4>
                                            <p class="text">John, I know everything!</p>
                                            <span class="time color-text-3 font-size-12">Yesterday</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class=" d-block message-inbox">
                                    <div class="mess__item">
                                        <div class="avatar dot-status online-status">
                                            <img src="assets/images/small-team3.jpg" alt="Michelle Moreno">
                                        </div>
                                        <div class="content">
                                            <h4 class="widget-title">Charles Forstman <span class="badge badge-success radius-rounded margin-top-10px p-1 float-right">2</span></h4>
                                            <p class="text">Thanks Mike! :)</p>
                                            <span class="time color-text-3 font-size-12">1:55 PM</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class=" d-block message-inbox">
                                    <div class="mess__item">
                                        <div class="avatar dot-status">
                                            <img src="assets/images/small-team4.jpg" alt="Michelle Moreno">
                                        </div>
                                        <div class="content">
                                            <h4 class="widget-title">Rachel Zane</h4>
                                            <p class="text">I've sent you the files for the Garrett trial</p>
                                            <span class="time color-text-3 font-size-12">1 hour ago</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class=" d-block message-inbox">
                                    <div class="mess__item">
                                        <div class="avatar dot-status">
                                            <img src="assets/images/small-team5.jpg" alt="Michelle Moreno">
                                        </div>
                                        <div class="content">
                                            <h4 class="widget-title">Rock William</h4>
                                            <p class="text">Payment Received?</p>
                                            <span class="time color-text-3 font-size-12">Today</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class=" d-block message-inbox">
                                    <div class="mess__item">
                                        <div class="avatar dot-status">
                                            <img src="assets/images/small-team6.jpg" alt="Michelle Moreno">
                                        </div>
                                        <div class="content">
                                            <h4 class="widget-title">Harvey Specter</h4>
                                            <p class="text">Oh yeah, did Michael Jordan tell you that?</p>
                                            <span class="time color-text-3 font-size-12">2 days ago</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="msg-action-bar d-flex justify-content-between align-items-centerbg-light">
                                <a href="#"><i class="la la-user-plus"></i> <span>Add Contact</span></a>
                                <a href="#"><i class="la la-cog"></i> <span>Settings</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="message-content flex-grow-1">
                        <div class="message-header">
                            <div class="mess__item justify-content-between align-items-center">
                                <div class="d-flex">
                                    <div class="avatar">
                                        <img src="assets/images/small-team1.jpg" alt="Michelle Moreno">
                                    </div>
                                    <div class="content">
                                        <h4 class="widget-title font-size-15 mb-0">Daniel Hardman</h4>
                                        <span class="time color-text font-size-14">Online</span>
                                    </div>
                                </div>
                                <div>
                                    <ul class="info-list">
                                        <li><a href="#"><i class="la la-trash" data-toggle="tooltip" data-placement="top" title="Delete Conversation"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="conversation-wrap">
                            <div class="conversation-box">
                                <div class="message-time">
                                    <span>30 Jan, 2020</span>
                                </div>
                                <div class="conversation-item msg-sent">
                                    <div class="mess__body">
                                        <div class="mess__item">
                                            <div class="content">
                                                <p class="text">How the hell am I supposed to get a jury to believe you when I am not even sure that I do? 😒</p>
                                                <span class="time">11:44 AM <i class="fa fa-check"></i></span>
                                            </div>
                                            <div class="avatar">
                                                <img src="assets/images/small-team1.jpg" alt="Michelle Moreno">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="conversation-item msg-reply">
                                     <div class="mess__body">
                                         <div class="mess__item">
                                             <div class="avatar">
                                                 <img src="assets/images/small-team2.jpg" alt="Michelle Moreno">
                                             </div>
                                             <div class="content">
                                                 <p class="text">When you're backed against the wall, break the god damn thing down.</p>
                                                 <span class="time">11:46 AM</span>
                                             </div>
                                         </div>
                                     </div>
                                </div>
                                <div class="conversation-item msg-reply">
                                     <div class="mess__body">
                                         <div class="mess__item">
                                             <div class="avatar">
                                                 <img src="assets/images/small-team2.jpg" alt="Michelle Moreno">
                                             </div>
                                             <div class="content">
                                                 <p class="text">Excuses don't win championships. 😐</p>
                                                 <span class="time">12:01 PM</span>
                                             </div>
                                         </div>
                                     </div>
                                </div>
                                <div class="message-time">
                                    <span>Yesterday</span>
                                </div>
                                <div class="conversation-item msg-sent">
                                    <div class="mess__body">
                                        <div class="mess__item">
                                            <div class="content">
                                                <p class="text">Oh yeah, you said right 👍</p>
                                                <span class="time">12:4 PM <i class="fa fa-check"></i></span>
                                            </div>
                                            <div class="avatar">
                                                <img src="assets/images/small-team1.jpg" alt="Michelle Moreno">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="conversation-item msg-reply">
                                    <div class="mess__body">
                                        <div class="mess__item">
                                            <div class="avatar">
                                                <img src="assets/images/small-team2.jpg" alt="Michelle Moreno">
                                            </div>
                                            <div class="content">
                                                <p class="text">Anyway! when i will start working on your project 😎😎😎</p>
                                                <span class="time">12:07 PM</span>
                                            </div>
                                        </div><!-- mess__item -->
                                    </div><!-- mess__body -->
                                </div><!-- conversation-item -->
                                <div class="conversation-item msg-sent">
                                    <div class="mess__body">
                                        <div class="mess__item">
                                            <div class="content">
                                                <p class="text">You can start working on project tomorrow 🙂</p>
                                                <span class="time">12:4 PM <i class="fa fa-check"></i></span>
                                            </div>
                                            <div class="avatar">
                                                <img src="assets/images/small-team1.jpg" alt="Michelle Moreno">
                                            </div>
                                        </div><!-- mess__item -->
                                    </div><!-- mess__body -->
                                </div><!-- conversation-item -->
                                <div class="conversation-item msg-reply">
                                    <div class="mess__body">
                                        <div class="mess__item">
                                            <div class="avatar">
                                                <img src="assets/images/small-team2.jpg" alt="Michelle Moreno">
                                            </div>
                                            <div class="content">
                                                <p class="text">Ok, i will 😉</p>
                                                <span class="time">12:07 PM</span>
                                            </div>
                                        </div><!-- mess__item -->
                                    </div><!-- mess__body -->
                                </div><!-- conversation-item -->
                                <div class="message-time">
                                    <span>Today</span>
                                </div>
                                <div class="conversation-item msg-reply">
                                    <div class="mess__body">
                                        <div class="mess__item">
                                            <div class="avatar">
                                                <img src="assets/images/small-team2.jpg" alt="Michelle Moreno">
                                            </div>
                                            <div class="content">
                                                <p class="text">Hi John, I just wanted to let you know that project is finished</p>
                                                <span class="time">8:19 AM</span>
                                            </div>
                                        </div><!-- mess__item -->
                                    </div><!-- mess__body -->
                                </div><!-- conversation-item -->
                                <div class="conversation-item msg-sent">
                                    <div class="mess__body">
                                        <div class="mess__item">
                                            <div class="content">
                                                <p class="text">Hi Daniel! I'm actually on vacation 🏖️ until Sunday so I can't check it now 😎</p>
                                                <span class="time">12:4 PM <i class="fa fa-check"></i></span>
                                            </div>
                                            <div class="avatar">
                                                <img src="assets/images/small-team1.jpg" alt="Michelle Moreno">
                                            </div>
                                        </div><!-- mess__item -->
                                    </div><!-- mess__body -->
                                </div><!-- conversation-item -->
                                <div class="conversation-item msg-reply">
                                    <div class="mess__body">
                                        <div class="mess__item">
                                            <div class="avatar">
                                                <img src="assets/images/small-team2.jpg" alt="Michelle Moreno">
                                            </div>
                                            <div class="content msg-typing">
                                                <p class="text">Typing</p>
                                                <div class="typing-director">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div><!-- mess__item -->
                                    </div><!-- mess__body -->
                                </div><!-- conversation-item -->
                            </div><!-- conversation-box -->
                        </div><!-- conversation-wrap -->
                        <div class="message-reply-input d-flex align-items-center">
                            <label class="mb-0 d-block flex-grow-1">
                                <textarea class="emoji-picker" placeholder="Type Your Message..."></textarea>
                            </label>
                            <div class="file-upload-wrap file-upload-wrap-3">
                                <input type="file" name="files[]" class="multi file-upload-input with-preview" multiple>
                                <span class="file-upload-text"><i class="la la-paperclip"></i></span>
                            </div>
                            <div class="message-send icon-element ml-2">
                                <i class="la la-paper-plane"></i>
                            </div>
                        </div><!-- message-reply-input -->
                    </div><!-- message-content -->
                </div><!-- end dashboard-message-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="copy-right margin-top-50px padding-top-20px padding-bottom-20px">
                    <p class="copy__desc">
                        Copyright &copy;2020 Zobstar Inc. Made with
                        <span class="la la-heart-o"></span> by <a href="https://themeforest.net/user/techydevs/portfolio">TechyDevs</a>
                    </p>
                    <ul class="list-items">
                        <li><a href="#">Terms of Use,</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div><!-- end copy-right -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container-fluid -->
</div>