<section class="cat-area padding-top-50px padding-bottom-50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2 class="sec__title">Danh mục công việc</h2>
                    <p class="sec__desc">
                        Halo Job mang đến cho bạn những cơ hội việc làm tại những môi trường làm việc năng động, chuyên nghiệp. Một công việc tốt phù hợp với bạn là điều đơn giản!
                    </p>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-8 -->
            <div class="col-lg-4">
                <div class="btn-box text-right margin-top-60px">
                    <a href="javascript:void(0)" class="theme-btn">Tất cả danh mục</a>
                </div>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-lg-3 responsive-column">
                <div class="category-item">
                    <a href="javascript:void(0)" class="cat-fig-box d-block p-4">
                        <div class="icon-element mb-3">
                            <i class="la la-paint-brush"></i>
                        </div>
                        <div class="cat-content">
                            <h4 class="cat__title mb-2">Thiết kế & Đa phương tiện</h4>
                            <span class="font-weight-medium">(3040)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="category-item">
                    <a href="javascript:void(0)" class="cat-fig-box d-block p-4">
                        <div class="icon-element mb-3">
                            <i class="la la-line-chart"></i>
                        </div>
                        <div class="cat-content">
                            <h4 class="cat__title mb-2">Kế toán / Tài chính</h4>
                            <span class="font-weight-medium">(3065)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="category-item">
                    <a href="javascript:void(0)" class="cat-fig-box d-block p-4">
                        <div class="icon-element mb-3">
                            <i class="la la-phone"></i>
                        </div>
                        <div class="cat-content">
                            <h4 class="cat__title mb-2">Viễn thông</h4>
                            <span class="font-weight-medium">(2340)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="category-item">
                    <a href="javascript:void(0)" class="cat-fig-box d-block p-4">
                        <div class="icon-element mb-3">
                            <i class="la la-hammer"></i>
                        </div>
                        <div class="cat-content">
                            <h4 class="cat__title mb-2">Xây dụng</h4>
                            <span class="font-weight-medium">(1240)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="category-item">
                    <a href="javascript:void(0)" class="cat-fig-box d-block p-4">
                        <div class="icon-element mb-3">
                            <i class="la la-bank"></i>
                        </div>
                        <div class="cat-content">
                            <h4 class="cat__title mb-2">Ngân hàng</h4>
                            <span class="font-weight-medium">(1040)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="category-item">
                    <a href="javascript:void(0)" class="cat-fig-box d-block p-4">
                        <div class="icon-element mb-3">
                            <i class="la la-line-chart"></i>
                        </div>
                        <div class="cat-content">
                            <h4 class="cat__title mb-2">Bán hàng & Tiếp thị</h4>
                            <span class="font-weight-medium">(7670)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="category-item">
                    <a href="javascript:void(0)" class="cat-fig-box d-block p-4">
                        <div class="icon-element mb-3">
                            <i class="la la-gears"></i>
                        </div>
                        <div class="cat-content">
                            <h4 class="cat__title mb-2">Cộng nghệ thông tin</h4>
                            <span class="font-weight-medium">(2434)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="category-item">
                    <a href="javascript:void(0)" class="cat-fig-box d-block p-4">
                        <div class="icon-element mb-3">
                            <i class="la la-compass"></i>
                        </div>
                        <div class="cat-content">
                            <h4 class="cat__title mb-2">Bán lẻ</h4>
                            <span class="font-weight-medium">(3432)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="category-item">
                    <a href="javascript:void(0)" class="cat-fig-box d-block p-4">
                        <div class="icon-element mb-3">
                            <i class="la la-graduation-cap"></i>
                        </div>
                        <div class="cat-content">
                            <h4 class="cat__title mb-2">Giáo dục</h4>
                            <span class="font-weight-medium">(2240)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="category-item">
                    <a href="javascript:void(0)" class="cat-fig-box d-block p-4">
                        <div class="icon-element mb-3">
                            <i class="las la-plane-departure"></i>
                        </div>
                        <div class="cat-content">
                            <h4 class="cat__title mb-2">Hàng không</h4>
                            <span class="font-weight-medium">(1240)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="category-item">
                    <a href="javascript:void(0)" class="cat-fig-box d-block p-4">
                        <div class="icon-element mb-3">
                            <i class="la la-hard-hat"></i>
                        </div>
                        <div class="cat-content">
                            <h4 class="cat__title mb-2">Kỹ thuật</h4>
                            <span class="font-weight-medium">(240)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="category-item">
                    <a href="javascript:void(0)" class="cat-fig-box d-block p-4">
                        <div class="icon-element mb-3">
                            <i class="la la-clinic-medical"></i>
                        </div>
                        <div class="cat-content">
                            <h4 class="cat__title mb-2">Y tế</h4>
                            <span class="font-weight-medium">(390)</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>