<section class="testimonial-area padding-top-70px  text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="sec__title">MỌI NGƯỜI CẢM NHẬN NHƯ THẾ NÀO VỀ HALO JOB!</h2>
                    <p class="sec__desc">
                        Bạn đã từng lo lắng về lựa chọn của mình? Hãy xem mọi người nói gì về Halo job,<br> nơi bạn có thể đặt niềm tin và hy vọng!
                    </p>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="testimonial-carousel-2 carousel-item-wrap">
                    <div class="testimonial-item">
                        <div class="testi-content mb-3">
                            <img src="assets/images/hau.jpg" class="testi__img" alt="testimonial image">
                            <h4 class="tesi__title mt-4">Nguyễn Văn Hậu</h4>
                            <span class="testi__meta">Web Designer</span>
                        </div>
                        <div class="testi-comment">
                            <p class="testi__desc">
                                Tôi đã tìm thấy công việc đúng ngành nghề của mình khi vẫn đang là sinh viên năm 3. Thật tình cờ và may mắn khi biết đến Halo Job.
                            </p>
                        </div>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi-content mb-3">
                            <img src="assets/images/Quy.jpg" class="testi__img" alt="testimonial image">
                            <h4 class="tesi__title mt-4">Trương Thị Quý</h4>
                            <span class="testi__meta">UI/UX Designer</span>
                        </div>
                        <div class="testi-comment">
                            <p class="testi__desc">
                                Cảm ơn Halo Job rất nhiều. Đã giúp mình tìm được công việc trong thời điểm dịch rất khó khăn. Thật may mắn khi đã biết đến Halo!
                            </p>
                        </div>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi-content mb-3">
                            <img src="assets/images/Anh.jpg" class="testi__img" alt="testimonial image">
                            <h4 class="tesi__title mt-4">Lê Ngọc Ánh</h4>
                            <span class="testi__meta">Engineer</span>
                        </div>
                        <div class="testi-comment">
                            <p class="testi__desc">
                                Web rất tiện lợi, dễ sử dụng. Nhiều công cụ tiện ích. Thông tin công ty uy tín. Tôi đã tìm được công việc phù hợp. Cảm ơn Halo Job!
                            </p>
                        </div>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi-content mb-3">
                            <img src="assets/images/small-team1.jpg" class="testi__img" alt="testimonial image">
                            <h4 class="tesi__title mt-4">Richard Doe</h4>
                            <span class="testi__meta">Web Designer</span>
                        </div>
                        <div class="testi-comment">
                            <p class="testi__desc">
                                Tôi đã tìm được công việc rất tốt trên Halo Job. Thật may mắn khi biết đến Halo Job! Các thông tin trên Web đều rất uy tín nha mn.
                            </p>
                        </div>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi-content mb-3">
                            <img src="assets/images/small-team2.jpg" class="testi__img" alt="testimonial image">
                            <h4 class="tesi__title mt-4">Denwen Evil</h4>
                            <span class="testi__meta">UI/UX Designer</span>
                        </div>
                        <div class="testi-comment">
                            <p class="testi__desc">
                               Thật may mắn khi biết đến Halo job, nơi mình có thể tìm kiếm được rất nhiều công việc phù hợp! Đánh giá 5 sao cho Halo Job.
                            </p>
                        </div>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi-content mb-3">
                            <img src="assets/images/small-team3.jpg" class="testi__img" alt="testimonial image">
                            <h4 class="tesi__title mt-4">Collis Pong</h4>
                            <span class="testi__meta">Engineer</span>
                        </div>
                        <div class="testi-comment">
                            <p class="testi__desc">
                                Thật tốt khi biết đến Halo Job tôi đã tìm thấy được công việc làm tại nhà trong thời gian giãn cách! Thật may mắn, cảm ơn Halo Job!
                            </p>
                        </div>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi-content mb-3">
                            <img src="assets/images/small-team1.jpg" class="testi__img" alt="testimonial image">
                            <h4 class="tesi__title mt-4">Richard Doe</h4>
                            <span class="testi__meta">Web Designer</span>
                        </div>
                        <div class="testi-comment">
                            <p class="testi__desc">
                                Một trang Web rất chuyên nghiệp và uy tín.
                                Thông tin rất chính xác, thao tác dễ dàng.
                                Đánh giá 10 sao cho Halo Job.
                            </p>
                        </div>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi-content mb-3">
                            <img src="assets/images/small-team2.jpg" class="testi__img" alt="testimonial image">
                            <h4 class="tesi__title mt-4">Denwen Evil</h4>
                            <span class="testi__meta">UI/UX Designer</span>
                        </div>
                        <div class="testi-comment">
                            <p class="testi__desc">
                                Thật may mắn khi biết đến Halo job, nơi mình có thể tìm kiếm được rất nhiều công việc phù hợp! Đánh giá 5 sao cho Halo Job.
                            </p>
                        </div>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi-content mb-3">
                            <img src="assets/images/small-team3.jpg" class="testi__img" alt="testimonial image">
                            <h4 class="tesi__title mt-4">Collis Pong</h4>
                            <span class="testi__meta">Engineer</span>
                        </div>
                        <div class="testi-comment">
                            <p class="testi__desc">
                                Cảm ơn Halo Job rất nhiều. 
                                Đã giúp mình tìm được công việc trong thời điểm dịch rất khó khăn. 
                                Thật may mắn khi đã biết đến Halo!
                            </p>
                        </div>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi-content mb-3">
                            <img src="assets/images/small-team1.jpg" class="testi__img" alt="testimonial image">
                            <h4 class="tesi__title mt-4">Richard Doe</h4>
                            <span class="testi__meta">Web Designer</span>
                        </div>
                        <div class="testi-comment">
                            <p class="testi__desc">
                                Một trang Web rất chuyên nghiệp và uy tín.
                                Thông tin rất chính xác, thao tác dễ dàng.
                                Đánh giá 10 sao cho Halo Job.
                            </p>
                        </div>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi-content mb-3">
                            <img src="assets/images/small-team2.jpg" class="testi__img" alt="testimonial image">
                            <h4 class="tesi__title mt-4">Denwen Evil</h4>
                            <span class="testi__meta">UI/UX Designer</span>
                        </div>
                        <div class="testi-comment">
                            <p class="testi__desc">
                                Một trang Web rất chuyên nghiệp và uy tín.
                                Thông tin rất chính xác, thao tác dễ dàng.
                                Đánh giá 10 sao cho Halo Job.
                            </p>
                        </div>
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testi-content mb-3">
                            <img src="assets/images/small-team3.jpg" class="testi__img" alt="testimonial image">
                            <h4 class="tesi__title mt-4">Collis Pong</h4>
                            <span class="testi__meta">Engineer</span>
                        </div>
                        <div class="testi-comment">
                            <p class="testi__desc">
                                Một trang Web rất chuyên nghiệp và uy tín.
                                Thông tin rất chính xác, thao tác dễ dàng.
                                Đánh giá 10 sao cho Halo Job.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>