<header class="header-area header-desktop">
    <div class="header-menu-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-full-width">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                        </div>

                        <div class="logo-right-content">
                            <div class="header-action-button d-flex align-items-center">
                                <div class="notification-wrap d-flex align-items-center">
                                    <div class="notification-item mr-3">
                                        <div class="dropdown">
                                            <button class="notification-btn dropdown-toggle" type="button" id="notificationDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="la la-bell"></i>
                                                <span class="quantity">{{alerts.length}}</span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="notificationDropdownMenu">
                                                <div class="mess-dropdown">
                                                    <div class="mess__title">
                                                        <h4 class="widget-title d-flex align-items-center justify-content-between">Thông báo<a href="#" class="font-size-12 color-text-3">Đánh dấu tất cả đã đọc</a></h4>
                                                        <p class="font-size-12 font-weight-medium">Bạn có {{alerts.length}} thông báo mới</p>
                                                    </div>
                                                    <div class="mess__body">
                                                        <a href="#" class="d-block" *ngFor="let a of alerts">
                                                            <div class="mess__item">
                                                                <div class="icon-element">
                                                                    <i class="la la-bolt"></i>
                                                                </div>
                                                                <div class="content">
                                                                    <p class="text">{{a.content}}</p>
                                                                    <span class="time">{{a.createDate}}</span>
                                                                </div>
                                                            </div><!-- end mess__item -->
                                                        </a>
                                                    </div>
                                                    <div class="mess__item border-bottom-0 text-center">
                                                        <a href="#" class="theme-btn w-100">Tất cả thông báo</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-action-wrap">
                                    <div class="notification-item">
                                        <div class="dropdown">
                                            <button class="notification-btn dot-status online-status dropdown-toggle" type="button" id="userDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="assets/images/avatar-mac-dinh-1.png" alt="John-doe">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="userDropdownMenu">
                                                <div class="mess-dropdown">
                                                    <div class="mess__title d-flex align-items-center">
                                                        <div class="image dot-status online-status">
                                                            <a href="#">
                                                                <img src="assets/images/avatar-mac-dinh-1.png" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="content">
                                                            <h4 class="widget-title font-size-16">
                                                                <a href="javascript:void(0)">Nguyễn Văn Hậu</a>
                                                            </h4>
                                                            <span class="email">nguyevan@gmail.com</span>
                                                        </div>
                                                    </div>
                                                    <div class="mess__body">
                                                        <ul class="list-items">
                                                            <li class="mb-0">
                                                                <a href="javascript:void(0)" class="d-block">
                                                                    <i class="la la-user"></i> Tài khoản
                                                                </a>
                                                            </li>
                                                            <li class="mb-0">
                                                                <div class="section-block mt-2 mb-2"></div>
                                                            </li>
                                                            <li class="mb-0">
                                                                <a href="javascript:void(0)" (click)="logout()" class="d-block">
                                                                    <i class="la la-power-off"></i> Đăng xuất
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-toggler d-flex align-items-center">
                                <div class="side-menu-open">
                                    <span class="menu__bar"></span>
                                    <span class="menu__bar"></span>
                                    <span class="menu__bar"></span>
                                </div>
                                <div class="user-menu-open">
                                    <i class="la la-user"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
