<app-banner></app-banner>

<app-category></app-category>

<app-jobs></app-jobs>


<section class="clientlogo-area padding-top-100px padding-bottom-80px text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="sec__title mb-0">Các công ty nổi bật</h2>
                </div>
            </div>
        </div>
        <div class="row margin-top-35px">
            <div class="col-lg-12 mx-auto">
                <div class="client-logo-wrap d-flex flex-wrap justify-content-center align-items-center">
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-2.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-3.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-4.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-5.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-6.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-7.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-8.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-9.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-10.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-11.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-3.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-4.png" class="img-fluid" alt="brand-image">
                    </div>
                    <div class="client-logo-item">
                        <img src="assets/images/client-logo-5.png" class="img-fluid" alt="brand-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hiw-area text-center section-bg padding-bottom-80px padding-top-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="sec__title">Halo Job hoạt động như thế nào?</h2>
                    <p class="sec__desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, beatae! Fugit repellat perferendis nihil.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3 responsive-column">
                <div class="icon-box">
                    <div class="icon-element">
                        <i class="la la-search"></i>
                        <span class="info-number">1</span>
                    </div>
                    <div class="info-content mt-4">
                        <h4 class="info__title font-size-18 mb-3">Tìm công việc phù hợp</h4>
                        <p class="info__desc">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="icon-box">
                    <div class="icon-element">
                        <i class="las la-comment-dollar"></i>
                        <span class="info-number">2</span>
                    </div>
                    <div class="info-content mt-4">
                        <h4 class="info__title font-size-18 mb-3">Research Companies</h4>
                        <p class="info__desc">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="icon-box">
                    <div class="icon-element">
                        <i class="la la-dollar-sign"></i>
                        <span class="info-number">3</span>
                    </div>
                    <div class="info-content mt-4">
                        <h4 class="info__title font-size-18 mb-3">Compare Salaries</h4>
                        <p class="info__desc">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="icon-box">
                    <div class="icon-element">
                        <i class="la la-receipt"></i>
                        <span class="info-number">4</span>
                    </div><!-- end icon-element-->
                    <div class="info-content mt-4">
                        <h4 class="info__title font-size-18 mb-3">Gửi CV xin việc</h4>
                        <p class="info__desc">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="funfact-area section-bg-2 padding-top-100px padding-bottom-60px text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="sec__title text-white">Numbers Say Everything!</h2>
                    <p class="sec__desc color-white-rgba">
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit <br>
                        facere possimus, omnis voluptas assumenda est, omnis
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3 responsive-column">
                <div class="counter-item">
                    <div class="icon-element">
                        <i class="la la-briefcase"></i>
                    </div>
                    <div class="counter-number">
                        <span data-purecounter-duration="2.5" data-purecounter-end="19000" class="counter purecounter">0</span>
                    </div>
                    <div class="counter-content mt-3">
                        <p class="counter__title">Jobs Posted</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="counter-item">
                    <div class="icon-element">
                        <i class="la la-users"></i>
                    </div>
                    <div class="counter-number">
                        <span data-purecounter-duration="2.5" data-purecounter-end="8090" class="counter purecounter">0</span>
                    </div>
                    <div class="counter-content mt-3">
                        <p class="counter__title">Candidates</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="counter-item">
                    <div class="icon-element">
                        <i class="la la-black-tie"></i>
                    </div>
                    <div class="counter-number">
                        <span data-purecounter-duration="2.5" data-purecounter-end="15095" class="counter purecounter">0</span>
                    </div>
                    <div class="counter-content mt-3">
                        <p class="counter__title">Companies</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 responsive-column">
                <div class="counter-item">
                    <div class="icon-element">
                        <i class="la la-file-text-o"></i>
                    </div>
                    <div class="counter-number">
                        <span data-purecounter-duration="2.5" data-purecounter-end="2350" class="counter purecounter">0</span>
                    </div>
                    <div class="counter-content mt-3">
                        <p class="counter__title">Resumes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<app-testimonial></app-testimonial>

<app-blog></app-blog>

<div class="section-block"></div>