/* You can add global styles to this file, and also import other style files */
.p-dropdown {
    width: 100%;
    border: 1px solid rgba(128, 137, 150, 0.3) !important;
}
.p-inputtext{
    font-family: "Poppins", sans-serif !important;
    color: #797f87 !important;
    font-size: 15px !important;
    font-weight: 410;
}
.p-dropdown-item {
    font-family: "Poppins", sans-serif !important;
    color: #797f87 !important;
    font-size: 15px !important;
    font-weight: 410 !important;
}
.p-dropdown .p-dropdown-label {
    padding-left: 16px;
}
.err{
    color: red;
    font-size: 13px;
}

.p-slider .p-slider-range {
    background: #26ae61 !important;
}
.p-slider .p-slider-handle {
    height: 1.143rem;
    width: 1.143rem;
    background: #26ae61;
    border: 2px solid #26ae61 !important;   
}
.p-slider:not(.p-disabled) .p-slider-handle:hover {
    background: #26ae61 !important;
    border-color: #26ae61 !important;
}
.p-slider.p-slider-horizontal {
    height: 1rem !important;
}
.p-slider {
    border-radius: 10px !important;
}
.p-slider .p-slider-range {
    border-radius: 10px;
}

.contact-form-action .form-group .form-icon {
    top: 14px !important;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #26ae61 !important;
    border-color: #26ae61 !important;
    color: #fff !important;
}
.p-paginator .p-paginator-pages .p-paginator-page {
    border-radius: 50% !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
